<%= breadcrumbs %>

<div class="page-header">
  <h1>Check Eligibility</h1>
</div>

<%= simple_form_for(@loan_eligibility_check, url: eligibility_check_path, html: {class: 'form-horizontal form-eligibility-check'}) do |f| %>
  <%= field_set_tag 'Declaration by Lender' do %>
    <%= f.input :viable_proposition, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :would_you_lend, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :collateral_exhausted, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :not_insolvent, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'About the Borrower and Their Facility' do %>
    <div class="repayment-profile">
      <%= f.input :amount,
                  as: :currency,
                  input_html: { "data-repayment-profile-total-amount" => "" } %>

      <%= f.input :lending_limit_id, as: :select, collection: @loan_eligibility_check.lender.current_lending_limits, prompt: "Please select" %>

      <%= f.input :repayment_profile,
        as: :radio_buttons,
        collection: [["Repay to Zero", PremiumSchedule::FIXED_TERM_REPAYMENT_PROFILE],
                    ["Repayment Amount", PremiumSchedule::FIXED_AMOUNT_REPAYMENT_PROFILE]],
        wrapper_html: { class: 'radio-buttons-inline', "data-repayment-profile" => ""} %>

      <%= f.input :fixed_repayment_amount, as: :currency, wrapper_html: { "data-repayment-amount" => "" } %>
      <%= f.input :repayment_duration, as: :duration, wrapper_html: { "data-repayment-duration" => "" }, input_html: { class: 'input-mini' } %>
    </div>

    <%= f.input :turnover, as: :currency %>
    <%= f.input :trading_date, as: :quick_date %>
    <%= f.input :sic_code, as: :sic_code, collection: SicCode.active, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :loan_category_id, as: :select, collection: LoanCategory.all, prompt: 'Please select', input_html: { class: 'input-xxlarge' } %>

    <%= f.input :reason_id do %>
      <%= f.select(
        :reason_id,
        loan_reason_options(LoanReason.active),
        { prompt: true },
        { class: "input-xxlarge", data: { "select-popover" => true } }
      ) %>
    <% end %>

    <%= f.input :previous_borrowing, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :private_residence_charge_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :personal_guarantee_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Check', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
