<div class="page-header">
  <h1>Set Your Password</h1>
</div>

<div class="alert alert-block">
  <p>As a minimum passphrases should be eight characters long and include a mix of letters, numbers and symbols, but ideally they’ll be longer than that.</p>

  <p>We refer to passphrases as a phrase is usually easier to remember but harder to guess than a short collection of symbols or a single word.</p>
</div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <%= f.input :password, label: "New Password", required: true %>
  <%= f.input :password_confirmation, label: "Confirm Your New Password", required: true %>

  <div class="form-actions">
    <%= f.button :submit, "Change Password", class: 'btn btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
