<%= breadcrumbs %>

<div class="page-header">
  <%= loan_alerts_priority(@group.priority) %>
  <h1><%= alert_type.titleize %> Loan Alerts (<%= pluralize(@group.count, 'loan') %>)</h1>
</div>

<p><%= t("loan_alerts.#{alert_type}_description") %></p>

<%= other_alert_links(@alert.groups, @group.priority) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Days Remaining</th>
      <th>Reference</th>
      <th>Business name</th>
      <th>Amount</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @group.each do |loan| %>
      <tr>
        <td><%= loan.days_remaining %></td>
        <td><%= link_to(loan.reference, loan) %></td>
        <td><%= link_to(loan_business_name(loan), loan) %></td>
        <td><%= loan.amount.format %></td>
        <td><%= loan.updated_at.strftime("%d %B %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @group.count > 5 %>
  <%= other_alert_links(@alert.groups, @group.priority) %>
<% end %>
