<%= breadcrumbs_for_loan(
  @loan,
  link_to('Change Loan', loan_loan_changes_path(@loan))
) %>

<div class="page-header">
  <h1><%= params[:type].titleize %></h1>
</div>

<p><span class="label label-info">INFORMATION</span> A new Premium Schedule will be generated from the information entered here.</p>

<hr>

<%= simple_form_for(@presenter, url: loan_loan_changes_path(@loan, type: params[:type]), html: { class: 'form-horizontal form-loan-change' }) do |f| %>
  <%= render_errors_on_base(f.object.errors) %>

  <%= f.input :date_of_change, as: :quick_date %>

  <%= render params[:type], f: f %>

  <%= field_set_tag 'Outstanding Loan Balance &amp; Term'.html_safe do %>
    <%= simple_form_row 'Original loan amount', @loan.amount.format %>

    <%= simple_form_row 'Next quarterly Premium month due', @presenter.next_premium_cheque_month %>

    <%= f.input :initial_draw_amount, as: :currency %>
    <%= simple_form_row 'Outstanding loan term at the next quarterly Premium collection point', @presenter.current_repayment_duration_at_next_premium %>
  <% end %>

  <% unless @presenter.capital_repayment_holiday_change? %>
    <%= field_set_tag "Capital Repayment Holiday" do %>
      <p>
        <span class="label label-important">IMPORTANT</span> Capital repayment holiday is optional. Leave it blank if not relevant.
      </p>

      <%= render "capital_repayment_holiday", f: f, presenter: @presenter %>
    <% end %>
  <% end %>

  <%= field_set_tag 'New Tranche Drawdowns' do %>

    <p>
      <span class="label label-important">IMPORTANT</span> All tranche drawdowns are optional. To remove an existing tranche drawdown, leave the relevant fields blank.
    </p>

    <h5>Second tranche drawdown</h5>
    <%= simple_form_row 'Current second tranche drawdown amount', @presenter.current_second_draw %>
    <%= f.input :second_draw_amount, as: :currency %>
    <%= f.input :second_draw_months, as: :months, input_html: { class: 'input-mini' } %>

    <h5>Third tranche drawdown</h5>
    <%= simple_form_row 'Current third tranche drawdown amount', @presenter.current_third_draw %>
    <%= f.input :third_draw_amount, as: :currency %>
    <%= f.input :third_draw_months, as: :months, input_html: { class: 'input-mini' } %>

    <h5>Fourth tranche drawdown</h5>
    <%= simple_form_row 'Current fourth tranche drawdown amount', @presenter.current_fourth_draw %>
    <%= f.input :fourth_draw_amount, as: :currency %>
    <%= f.input :fourth_draw_months, as: :months, input_html: { class: 'input-mini' } %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
